.overlay {
  position: absolute;
  inset: 0;
  background: color-mix(in srgb, var(--mainColor) 20%, transparent);
  border: 3px dashed var(--mainColor);

  backdrop-filter: blur(3px);
  margin: 10px;
  border-radius: 32px;

  z-index: 99999;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  color: #ddd;
  font-weight: 500;

  transition: 0.15s ease;
}
