@property --new-wallpaper-height {
  syntax: '<length>';
  initial-value: 0px;
  inherits: true;
}

:root {
  --new-wallpaper-height: 0px;
  --main-navigation-height: 60px;
  transition: --new-wallpaper-height 0.4s ease;
}

.tabs {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  border-radius: 1.5rem 1.5rem 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  background: color-mix(in srgb, rgb(0, 0, 0) 30%, transparent);
  padding-bottom: var(--sab);
}

.new-wallpaper {
  animation: slideUp 0.4s ease forwards;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    background-color: var(--mainColor) !important;
    border-radius: 20px;
    height: calc(100% - 16px);
    flex: 1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__input {
    display: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    display: inline;
  }
}

@keyframes slideUp {
  from {
    --new-wallpaper-height: 0;
    height: var(--new-wallpaper-height);
    opacity: 0;
  }
  to {
    --new-wallpaper-height: 50px;
    height: var(--new-wallpaper-height);
    opacity: 1;
  }
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  height: var(--main-navigation-height);
  // overflow: hidden;
  // margin-bottom: 10px;
}

.tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: calc(100% - 10px);
  margin: 10px;
  // padding: 8px 12px;
  border-radius: 99rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  fill: #ffffff;
  color: #ffffff;

  &:hover {
    .icon,
    .avatar {
      scale: 1.1;
    }
  }

  &.active {
    // background: var(--color-accent);
    background: rgba(90, 90, 90, 0.5);
    fill: var(--mainColor);
    color: var(--mainColor);
    animation: pulse 0.4s ease-in-out;
  }
}

.icon,
.avatar {
  width: 25px;
  height: 25px;
  transition: scale 0.2s ease;
}

.avatar img {
  border-radius: 50%;
  object-fit: cover;
}

.label {
  font-size: 12px;
  font-weight: 500;
}

.tab-view {
  display: none;
}

.tab-view--active {
  display: block;
  // min-height: 100%;
  width: 100%;
}

@keyframes pulse {
  0% {
    scale: 1;
  }

  33% {
    scale: 0.9;
  }
  66% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}
