.chat-list-item {
  appearance: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  contain: content;

  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  height: 75px;
  overflow: hidden;
  width: 100%;
  padding-right: 10px;
  border-radius: 16px;
  color: var(--chat-list-item-color, #959595);
  transition:
    background 0.3s,
    border-bottom 0.3s,
    color 0.3s,
    transform 0.3s ease;
  transform: scale(1);
  // transform-origin: center top;

  &:last-child {
    .chat-list-item__content-wrapper {
      &::after {
        content: none;
      }
    }
  }

  &--pressed {
    transform: scale(0.95);
  }

  &--animate-in {
    --animation-duration: 0.4s;
    opacity: 0;
    animation: chatListItemAnimation var(--animation-duration) ease forwards;
    animation-delay: calc(var(--index, 0) * 0.02s);
  }

  &--pre-init-hidden {
    opacity: 0;
  }

  &__message-text {
    color: var(--chat-list-message-color, inherit);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    overflow-wrap: break-word;
    overflow: hidden;
    word-break: break-word;
    --line-height: 20px;
    line-height: var(--line-height);
    min-height: calc(var(--line-height) * 2);
    max-height: calc(var(--line-height) * 2);
    white-space: pre-line;
  }

  &__message-row {
    text-align: left;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'text count';
  }

  &__read {
    width: 16px;
    height: 16px;
    fill: var(--mainColor);
    transition: fill 0.3s ease;
  }

  &__read-unread {
    width: 14px;
    height: 14px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    height: 20px;
    min-width: 100%;
    max-width: 100%;

    font-size: 1rem;
    text-align: left;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;

    border: 0;
    transition: color 0.3s;
    overflow: hidden;

    padding-bottom: var(--mask-height);
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(3% - var(--mask-height)),
      transparent
    );
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(3% - var(--mask-height)),
      transparent
    );
    -webkit-mask-size: calc(100% - var(--scrollbar-width)) 100%;
    mask-size: calc(100% - var(--scrollbar-width)) 100%;
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    flex: 1 1 auto;
    min-width: 0;
    color: var(--chat-list-name-color, #fff);
  }

  &__date {
    font-size: 0.875rem;

    flex: 0 0 auto;
    white-space: nowrap;
    min-width: fit-content;
  }

  &__content-wrapper {
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    display: flex;
    align-items: center;
    overflow: hidden;

    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: rgba(127, 127, 127, 0.2);
      transition: background 0.3s ease;
    }
  }

  &__content {
    width: 100%;
    overflow: hidden;
    height: 60px;
  }

  &__unread {
    line-height: 1;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--mainColor);
    padding: 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    width: fit-content;
    height: 18px;
    grid-area: count;
    align-self: end;
    justify-self: end;
    color: var(--chat-list-item-unread-text);
    float: right;
  }

  &__avatar {
    height: 60px;
    width: 60px;
    margin: 0 10px;
  }

  &__attachments {
    display: inline-flex;
    gap: 3px;
    height: 20px;
    margin-right: 4px;
    vertical-align: top;
  }

  &__attachment {
    height: 100%;
    width: auto;
    min-width: 20px;
    max-width: 25px;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
    display: block;
    overflow: hidden;

    &--audio-cover {
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }

  &:hover {
    background: rgba(127, 127, 127, 0.1);

    &::after {
      background: transparent;
    }
  }

  &--active,
  &--active:hover {
    border: none;
    background: var(--mainColor);
    color: #d5eaff;

    .chat-list-item__read {
      fill: #d5eaff;
    }

    .chat-list-item__message-text {
      color: #d5eaff;
    }

    .chat-list-item__name {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .chat-list-item {
    width: 100%;
    border-radius: 0;
  }

  // .chat-list-item::after {
  //   left: 95px;
  //   right: 15px;
  //   height: 1px;
  // }

  .chat-list-item:hover::after {
    background: rgba(127, 127, 127, 0.2);
  }

  .chat-list-item:hover {
    background: transparent;
  }
}

@keyframes chatListItemAnimation {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ripple {
  position: absolute;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.15) 55%,
    rgba(255, 255, 255, 0.05) 65%,
    transparent 100%
  );

  filter: blur(2px);
  animation: ripple 700ms ease-out forwards;
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(12);
    opacity: 0;
  }
}
