:global(.loading_chats_container) {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

:global(.loading_chats_container.hidden) {
  opacity: 0;
}

:global(.loading_chats) {
  height: 50px;
  stroke: var(--secondaryColor);
}

:global(.no-chats) {
  color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-list-view {
  --appear-duration: 0.4s;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overscroll-behavior: contain;

  min-height: 100%;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;

  position: absolute;

  padding-bottom: calc(var(--sab) + var(--main-navigation-height));
  padding-top: 50px;
  transition-duration: var(--appear-duration);
  transition-timing-function: ease;
  transition-property: opacity, transform;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 1) calc(60px + var(--sat))
  );

  &--active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px) {
  .chat-list-view {
    width: 100%;
    order: 2;
  }
}
