.wallpaperContainer {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}

.wallpaperMainOverlay {
  position: fixed;
}
// .wallpaperOverlay {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   transition:
//     background-color 0.3s ease,
//     filter 0.3s ease;

//   &::after {
//     content: '';
//     display: block;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: var(--mainColor);
//     mix-blend-mode: multiply;
//     pointer-events: none;
//   }
// }

:global(.wallpaper) {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.05;
  transition: scale var(--side-bar-show-up-duration)
    var(--side-bar-show-up-timing-function);
  pointer-events: none;
  // opacity: 0.8;
}

.wallpaperGlow {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: blur(50px);
}

.roomPageContainer {
  display: flex;
  overflow: hidden;
  height: 100%;
}
