:global(.main_chat_window) {
  height: 100%;
  width: 100%;
  z-index: 999;
  position: relative;
  border-radius: var(--device-corner-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  container: main_chat_window / inline-size;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 60px;
  //   backdrop-filter: blur(30px);
  //   mask-image: linear-gradient(
  //     to top,
  //     rgba(0, 0, 0, 0) 0%,
  //     rgba(0, 0, 0, 0.8) 50%,
  //     rgba(0, 0, 0, 1) 100%
  //   );
  //   z-index: 1;
  // }
}

.roomWrapperContainer {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  --mask-height: calc(var(--sat) + 60px);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0.2) calc(var(--mask-height) / 2),
    rgba(0, 0, 0, 1) var(--mask-height),
    rgba(0, 0, 0, 1) calc(100% - 50px),
    rgba(0, 0, 0, 0.3) 100%
  );

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: var(--mask-height);
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0px,
      rgba(0, 0, 0, 0) 100%
    );
  }

  overflow-y: scroll;
  overscroll-behavior: contain;
  overflow-anchor: none;
}

:global(.room_wrapper) {
  position: relative;
  width: var(--main-chat-window-width);
  container: room_wrapper / inline-size;
  max-width: 100%;
  // min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-direction: column;
  transition: all var(--side-bar-show-up-duration)
    var(--side-bar-show-up-timing-function);
}

:global(.room_wrapper.shifted) {
  margin-right: var(--left-side-bar-width);
}

:global(.main_chat_window:has(.room_wrapper.shifted) .send_area) {
  margin-right: var(--left-side-bar-width);
}

:global(.main_chat_window:has(.room_wrapper.shifted) .wallpaper) {
  scale: 1;
}

@container main_chat_window (max-width: 1094px) {
  :global(.room_wrapper.shifted) {
    margin-right: 0;
  }
  :global(.main_chat_window:has(.room_wrapper.shifted) .send_area) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  :global(.main_chat_window) {
    background-color: #000;
    margin: 0;
    width: 100%;
    position: fixed;
    display: none;
  }

  :global(.main_chat_window.swiped) {
    display: flex;
  }
}

.settingsContainer {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow: auto;
  position: relative;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.6);
  background: color-mix(in srgb, rgb(0, 0, 0) 50%, transparent);
  margin: 10px 10px 10px 0;
  height: calc(100% - 20px);

  position: relative;
  width: calc(var(--main-chat-window-width) - var(--global-gap));
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // transition: all 0.2s;
  container: settingsContainer / inline-size;
  animation: settingsContainerShow 0.4s;
  transform-origin: left center;
}

@keyframes settingsContainerShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.minimize {
  // position: absolute;
  // left: 10px;
  // top: 10px;
  height: 30px !important;
  width: 45px !important;
  margin-left: 20px;
  margin-top: 20px;
}
