.contactItem {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background: rgba(127, 127, 127, 0.1);
  }
}

.contacts {
  height: 100%;
  padding-bottom: (var(--main-navigation-height));
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.avatar {
  width: 40px;
  height: 40px;
}

.username {
  font-weight: 500;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lastSeen {
  font-size: 0.875rem;
  color: var(--secondaryColor);
}

.emptyContact {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
