.message__text {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline;
  max-width: 100%;
  vertical-align: baseline;
  line-height: normal;
}

.message__link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 1px;
  overflow-wrap: anywhere;
}

.message_div_temp_separator {
  color: var(--messageMainColor);
  padding: 6px 8px;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: max-content;
  transition:
    color 1s,
    background 1s,
    opacity 0.3s,
    transform 0.3s;

  .message_div_subdata {
    display: inline;
    flex-direction: row;
    margin-left: 4px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    flex-shrink: 0;
    // margin-left: auto;
    float: right;
    margin-top: 8px;
  }

  &.textEmpty {
    position: absolute;
    top: unset;
    bottom: 6px;
    margin-left: auto;
  }

  &.hasOnlyMediaFiles {
    .message_div_subdata {
      border-radius: 99rem;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@property --mainColor {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageGradientDegree {
  syntax: '<angle>';
  inherits: true;
  initial-value: 168deg;
}

@property --messageColor1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor3 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor4 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor5 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageStop1 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --messageStop2 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --messageStop3 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --messageStop4 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --messageStop5 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

.message_div {
  display: flex;
  margin: 3px 15px;
  z-index: 0;
  max-width: min(432px, calc(100% - 60px));
  font-size: 1rem;
  overflow: hidden;
  position: relative;

  &.right {
    margin-left: auto;
  }

  background-color: rgb(from var(--message_color) r g b / 50%);
  backdrop-filter: blur(3px);
  outline: 1px solid rgba(127, 127, 127, 0.3);
  border-radius: 20px;
  --td: 0.15s;
  --ttf: ease-out;
  transition:
    --mainColor 0.4s var(--ttf),
    --messageGradientDegree 0.4s var(--ttf),
    --messageColor1 0.4s var(--ttf),
    --messageColor2 0.4s var(--ttf),
    --messageColor3 0.4s var(--ttf),
    --messageColor4 0.4s var(--ttf),
    --messageColor5 0.4s var(--ttf),
    --messageStop1 0.4s var(--ttf),
    --messageStop2 0.4s var(--ttf),
    --messageStop3 0.4s var(--ttf),
    --messageStop4 0.4s var(--ttf),
    --messageStop5 0.4s var(--ttf),
    margin-left var(--td) var(--ttf),
    width var(--td) var(--ttf),
    height var(--td) var(--ttf),
    opacity var(--td) var(--ttf),
    translate var(--td) var(--ttf);

  &.darker {
    clip-path: inset(0 round 20px);

    background: none;
    border-radius: 0;
    backdrop-filter: none;
    outline: none;
    &::before {
      pointer-events: none;
      z-index: -1;
      content: '';
      position: fixed;
      inset: 0;
      // contain-intrinsic-size: 432px 100%;
      contain: strict;

      background: linear-gradient(
        var(--messageGradientDegree, 168deg),
        var(--messageColor1) var(--messageStop1),
        var(--messageColor2) var(--messageStop2),
        var(--messageColor3) var(--messageStop3),
        var(--messageColor4) var(--messageStop4),
        var(--messageColor5) var(--messageStop5)
      );

      // background: linear-gradient(168deg, rgb(229, 124, 0), rgb(94, 0, 0));
      // background: linear-gradient(90deg, #08203e, #557c93);
    }
  }
}

@keyframes message_loaded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
  position: relative;
  width: max-content;
  max-width: min(432px, calc(100cqw - 60px));
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'SFProRounded';
  text-align: center;
  font-size: 0.75rem;
}

.viewed-status__icon {
  height: 11px;
  width: auto;
  fill: #fff;
}

.message_and_reaction {
  display: inline-block;
  width: max-content;
  max-width: 100%;
}

.edited {
  font-size: 0.625rem;
  color: var(--secondaryColor);
  white-space: nowrap;
}

:global(.temp_full) {
  display: flex;
  align-items: center;
  transition: background 1.5s;
  position: relative;
  width: 100%;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 100dvw;
  //   height: 100dvh;
  //   z-index: -1;
  //   pointer-events: manipulation;
  // }
}

:global(.temp_full.active) {
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.7s;
}

:global(.temp_full.selected) {
  user-select: none;
  background: rgba(127, 127, 127, 0.2);
  transition: background 0.4s;
}

:global(.temp_full.selection-mode) {
  touch-action: pan-y;
}

:global(.temp_full.new_message_not_own),
:global(.temp_full.new_message_own) {
  animation: temp_full_new_message_not_own 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

:global(.message_select_check) {
  margin-left: 12px;
  animation: message_select_check_animation 0.5s ease-in-out;
  display: flex;
  align-items: center;
  left: 0;
  pointer-events: none;

  svg {
    width: 22px;
    height: 22px;
    color: currentColor;
  }
}

@keyframes message_select_check_animation {
  0% {
    transform: scale(1);
    margin-left: -22px;
    opacity: 0;
  }
  50% {
    transform: scale(0.9);
    margin-left: 12px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

:global(.time-left) {
  font-size: 0.625rem;
  color: var(--secondaryColor);
  user-select: none;
  white-space: nowrap;
}

:global(.message_div_temp_time_view) {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

@keyframes message_div_recieve {
  0% {
    background: transparent;
    min-width: calc(100% - 52px);
  }
  100% {
    background: rgb(from var(--mainColor) r g b / 95%);
    min-width: 0;
  }
}

@keyframes temp_full_new_message {
  0% {
    z-index: 999;
  }
  100% {
    z-index: 0;
  }
}

@keyframes message_details_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes temp_full_new_message_not_own {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message_div.visible {
  translate: 0 0;
}

.message_div.selected_prepare {
  user-select: none;
  // margin-left: 40px;
  transition: margin-left 0.4s;
}

@media screen and (max-width: 768px) {
  :global(.temp_full.new_message_own) > .message_div {
    animation: message_div_recieve 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  }

  :global(.temp_full.new_message_own) .viewed_span,
  :global(.temp_full.new_message_own) :global(.time-left) {
    animation: message_details_opacity 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  }

  :global(.temp_full.new_message_own) {
    animation: temp_full_new_message 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  }

  @keyframes message_div_selected_animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .message_div.select {
    animation: message_div_selected_animation 0.5s ease-in-out;
  }

  .message_div.contextMenu {
    z-index: 1001;
  }

  :global(.temp_full) {
    width: 100%;
  }
}
